
$debug-colors: 	#F5FAFF, #EBF5FF, #E0F0FF, #D6EBFF, #CCE6FF;
$debug-index: 1;

@mixin debug($block_element){
	outline: thin dotted black;

	&:before{
		content: '#{$block_element}';
		position: absolute;
		display: inline;
		background-color: nth($debug-colors, $debug-index);
		font-size: 10px;
		padding: 5px;
	}

	$debug-index: (($debug-index + 1) % length($debug-colors)) + 1;
}

@import "_debug";
@import "_device-detection";
