// See http://www.mademyday.de/css-height-equals-width-with-pure-css.html
@mixin size-ratio($ratioW, $ratioH) {
	position: relative;
	width: 100%;

	&:before{
		content: "";
		display: block;
		padding-top: ($ratioH / $ratioW) * 100%;
	}

	> .page__container__content{
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@mixin position-sticky(){
  	position: -webkit-sticky;
  	position: -moz-sticky;
  	position: -ms-sticky;
  	position: -o-sticky;
  	position: sticky;
  	top: 0;
}

// See http://css-tricks.com/snippets/css/sticky-footer/
@mixin sticky-footer($footer-height, $wrapper, $footer){
	#{$wrapper} {
	  min-height: 100%;
	  margin-bottom: -$footer-height; 
	}

	#{$wrapper}:after {
	  content: "";
	  display: block;
	}

	#{$footer}, #{$wrapper}:after {
	  height: $footer-height; 
	}
}