@mixin background-image() {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('http://www.viewbook.com/workspace/uploads/media/images/home/chiyinsim_hd.jpg');
}

.page__background_cover{
	@include background-image();
	background-size: cover;
}

.page__background_center{
	@include background-image();
	background-position: center top;
}