<!doctype html>

<html>

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title></title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="/css/vendor/normalize.css">
	    <!--[if lt IE 9]><script src="/scripts/vendor/html5shiv.js"></script><![endif]-->
	</head>

	<body class='__block'>

		<div class='__block__element'>
			<% _.each(images, function(img) { %> <img width="100" src='<%= img.src %>' class='__block__element__image'/> <% }); %>
		</div>

	</body>

</html>