<!doctype html>

<html>

	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <title>kaBEM</title>
	    <meta name="description" content="BEM CSS scaffolding on some steroids">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!--[if lt IE 9]><script src="/scripts/vendor/html5shiv.js"></script><![endif]-->
	</head>

	<body class='__block'>

		<div class='__block__element'>

			<header class='__block__element__header'>
				<h1>kaBEM</h1>
				<p>BEM CSS scaffolding on some steroids</p>
			</header>

			<% _.each(images, function(img) { %> <img width="100" src='<%= img.src %>' class='__block__element__image'/> <% }); %>

		</div>

	</body>

</html>